<section id="hero" *ngIf="showHero">
    <div id="hero-content">

      <div class="card" style="width: 552px" *ngFor="let obj of homedata.cards; let j = index" (click)="genereteCategoryDetails(obj)">

        <div class="img-container">
          <img [src]="obj.carosello[j]" class="" alt="...">
        </div>

        <div class="card-body">
          <h5 class="card-title">{{obj.name}}</h5>
        </div>
      </div>
    </div>
</section>

<section id="category-details" *ngIf="showCategory">
  <div id="category-content">
    <!-- creare e istanziare in modo iterativo (categoryDetails.Categories) il componente card -->
     
    <app-card *ngFor="let obj of categoryDetails.Categories; let j = index" [data]="categoryDetails.Categories[j]" ></app-card>

  </div>
</section>

<section *ngIf="isLoading" class="loader-container">
  <div class="loader"></div>
</section> 