/* -------------------------------------------------------------------------------- */
/* ! Loader */
/* -------------------------------------------------------------------------------- */
.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



section#hero{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.card{
  margin: 25% 0% 25% 0%;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  
}

.img-container img{
  height: 100%;
  
}

.img-container{
  height: 45vh;
  overflow: hidden;
  border-radius: 25px;
}

.card-body{
  height: 20vh;
}

section#category-details{
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: scroll;
}

#category-content{
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;

}
